{% extends "base.html" %}{% block title %} Home {% endblock %} {% block text %}
<meta charset="utf-8" />
<link rel="icon" href="{{url_for('static', filename='Images/bike.svg')}}">
<link rel="stylesheet" href="{{url_for('static', filename='Images/home.css')}}">
<meta name="viewpoint" , content="width=device-width, initial-scale=1">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,100&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/00d65123ff.js" crossorigin="anonymous"></script>

{% endblock %} {% block content %}
<div class="navbar">
    <h1>Funky Fitness</h1>
    {% if user.is_authenticated %}
    <div class="links">
        <span class="menu">
                <i class="fas fa-bars"></i>  
            </span>
        <ul class='links-menu'>
            <div class="section1">
                <li><a href="/add-workout">Add Workout</a></li>
                <img src="{{url_for('static', filename='Images/running.png')}}" alt="Hi">
            </div>
            <div class="section2">
                <li><a href="#">Add Meal Log</a></li>
                <img src="{{url_for('static', filename='Images/meal.png')}}" alt="Hi">
            </div>
            <div class="section3">
                <li><a href="#">Change Avatar</a></li>
                <img src="{{url_for('static', filename='Images/avatar.png')}}" alt="Hi">
            </div>
        </ul>
    </div>
    {% endif %}
</div>

{% if not user.is_authenticated %}
<div class="main">
    <h2>Track your health and fitness</h2>
    <a href="/login"> <button class="login">Login</button></a>
    <a href="/sign-up"><button class="sign_up">Sign Up</button></a>
</div>
{% endif %}
<a href="/logout">Logout</a> {% for workout in user.workouts %}
<ul>
    <li>{{workout.name}}</li>
    <li>{{workout.type}}</li>
    <li>{{workout.reps}}</li>
    <li>{{workout.data}}</li>
</ul>
{% endfor %} {%endblock%}